.site-footer {
  background-color: #1379ff;
  color: #8b949e;
  padding: 30px 20px 10px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #262b31;
  margin-top: 40px;
}

.footer-content a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
  color: #79c0ff;
}

.footer-copy {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
}

html,
body {
  height: 100%;
}

#page-wrapper {
  min-height: calc(100vh - 180px); /* Adjust based on your footer's height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
