* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: 'Anek Devanagari', sans-serif;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #1379ff;
  color: white;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 3px 0;
  transition: 0.3s;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: #ddd;
}

@media (width <= 768px) {
  nav .hamburger {
    display: flex;
  }

  nav .menu {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: #1379ff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    transition: 0.3s;
    z-index: 1001;
  }

  nav .menu.active {
    left: 0;
    z-index: 1001;
  }

  nav .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  nav .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  nav .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
}
