html {
	background-color: #222831;
	font-family: "Anek Devanagari", sans-serif;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
div {
	background-color: #393e46;
	color: white;
}
h1 {
	color: white;
	font-weight: 450;
}
h2 {
	color: white;
	font-weight: 450;
}
p {
	color: white;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 16px;
	padding: 20px;
	margin: 0, auto;
}

a.main_button,
a.back {
	display: flex;
	height: 80px;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: rgb(26, 18, 75);
	border: 2px solid black;
	border-radius: 8px;
	padding: 8px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	max-width: 100vh;
}

a.back {
	margin-left: 1rem;
	max-width: 140px;
}

a.main_button:hover {
	background-color: #3225ac;
	transform: scale(1.03);
	border-color: #4b5563; /* Slight hover border tone */
}

a.back:hover {
	background-color: red;
	transform: scale(1.03);
	border-color: #4b5563;
}
