body {
  background-color: #000;
  color: #f0f6fc;
  font-family: 'Anek Devanagari', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px); /* Fixed width columns */
  gap: 60px; /* Your existing gap */
  padding: 20px;
  justify-content: center; /* Center the grid when there's extra space */
  max-width: 1200px;
  margin: 0 auto;
}

.skill-card {
  background-color: #151b23;
  border: 1px solid #3e444b;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-sizing: border-box; /* Add this line */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgb(0 0 0 / 50%);
}

.skill-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.skill-card h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #e5e7eb;
}

.skill-card p {
  margin: 0;
  font-size: 1em;
  color: #9ca3af;
}

/* media query for small screens */
@media (width <= 480px) {
  .skills-grid {
    grid-template-columns: 1fr; /* Single column */
    gap: 30px; /* Reduced gap */
  }

  .skill-card {
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the card if it's smaller than its container */
  }
}

@media (width >= 481px) and (width <= 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
    justify-items: center; /* Center items horizontally in their grid areas */
  }

  .skill-card {
    margin: 0 auto; /* Center the card if it's smaller than its container */
  }
}
