<nav>
  <div class="logo">Alexander</div>
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="menu" id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/pages/ai.html">AI</a></li>
    <li><a href="/pages/skills.html">Skills</a></li>
    <li><a href="/pages/certification.html">Certifications</a></li>
    <li><a href="/pages/projects.html">Projects</a></li>
    <li><a href="/pages/experience.html">Experience</a></li>
  </ul>
</nav>
